.item-container {
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    border-style: solid;
    border-color: #d6d6d6;
    display: flex;
}

#dashboard-item-container {
    height: auto;
    width: auto;
    margin-top: 20px;
    flex-wrap: wrap;
}

#offer-item-container {
    height: auto;
    width: auto;
    margin-top: 20px;
    flex-wrap: wrap;
}

#offer-item-boardgame-container {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

#offer-item-consumable-container {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}