.content-container {
    background-color: #fafafa;
    padding: 30px;
    border-radius: 10px;
    box-shadow: #c9c9c9  0 5px 5px;
}

#homepage-tekst{
    color: var(--color-boardgame-black);
    font-size: 14px;
    width: 60%;
    margin: 20px auto 0;
}

#login-container {
    width: 60%;
    height: 300px;
    margin: 20px auto 0;
    display: flex;
    flex-direction: row;
}

#login-container a{
    color: black;
    font-weight: bold;
}

#dashboard-container{
    width: 70%;
    height: auto;
    margin: 20px auto 0;
    display: flex;
    flex-direction: column;
}


.dashboard-container{
    width: 70%;
    height: auto;
    margin: 20px auto 0;
    display: flex;
    flex-direction: column;
}

.content-container {
    width: 70%;
    height: auto;
    margin: 20px auto 0;
    display: flex;
    flex-direction: column;
}


#dashboard-container p{
    margin-left: 10px;
}

#offer-container{
    width: 70%;
    height: auto;
    margin: 20px auto 0;
    display: flex;
    flex-direction: column;
}

#offer-container p{
    margin-left: 10px;
}

#offer-container a{
    color: black;
    font-weight: bold;
}

#signup-container {
    display: flex;
    flex-direction: row;
}

#homepage-tekst a {
    color: var(--color-boardgame-black);
    font-weight: bold;
}